<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871186967527-67acsng0f5nbh7g3q6d9c493qg8lumr1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871186967527-67acsng0f5nbh7g3q6d9c493qg8lumr1</string>
	<key>API_KEY</key>
	<string>AIzaSyDLs-hUpmRD2bOV34DEo3gq8JA5zCJQh74</string>
	<key>GCM_SENDER_ID</key>
	<string>871186967527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chingizagha.ChatRoom</string>
	<key>PROJECT_ID</key>
	<string>chatroom-4a64a</string>
	<key>STORAGE_BUCKET</key>
	<string>chatroom-4a64a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871186967527:ios:e6614862842efe211dab42</string>
</dict>
</plist>